html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

body {
    width: 1280px;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/* header */

.header-logo p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background: linear-gradient(298deg, rgba(33, 31, 32, 1) 37%, rgba(91, 72, 58, 1) 100%, rgba(38, 36, 37, 1) 100%);
    height: 908px;
    padding-top: 30px;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    max-width: 184px;

}

.header-top p:first-child {
    color: #F1CDB3;
    font-size: 32px;
    margin: 0;
    text-align: center;
    line-height: 35.2px;
}

.header-top p:last-child {
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    line-height: 14.95px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}

.header-nav {
    align-content: center;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: #FAFAFA;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    filter: brightness(90%);
    transition: .3s ease-in-out;
}

.nav-item:not(:last-child) {
    margin-right: 35px;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0%;
    display: block;
    height: 3px;
    background-color: #F1CDB3;
    transition: .3s ease-in-out;
}

.nav-item:hover::after,
.nav-item:focus::after {
    width: 100%;
}

.nav-link:hover {
    filter: brightness(100%);
}

.header-not-only {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
    max-width: 310px;
    margin: 0;
}

.not-only-about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding: 42px 0;
    margin: 0;
}

.not-only-button a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 22.1px;
    color: #292929;
    display: block;
    text-decoration: none;
    padding: 15px 45px;
}

.not-only-button {
    border-radius: 100px;
    background-color: #F1CDB3;
    filter: brightness(90%);
    transition: .3s ease-in-out;
}

.not-only-button:hover {
    filter: brightness(100%);
}

.not-only-desc {
    width: 460px;
    margin-top: 20%;
}

.not-only-img, .not-only-img img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* about shelter */

.about-shelter {
    height: 588px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.about-shelter-img, .about-shelter-desc {
    height: 408px;
}

.about-shelter-img {
    width: 300px;
}

.about-shelter-desc {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 45.5px;
    color: #545454;
    letter-spacing: 3px;
    margin: 0;
}

.about-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    margin: 0;
}

/* our friends */

.container-our-friends {
    background-color: #F6F6F6;
}

.our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    height: 877px;
    justify-content: center;
}

.our-friends-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 3px;
    color: #545454;
    text-align: center;
    max-width: 400px;
    margin: 0;
}

.arrow-left, .arrow-right {
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    transition: .3s ease-in-out;
}

.arrow-left-link, .arrow-right-link {
    padding: 15px 11px;
    display: block;
}

.arrow-left:hover, .arrow-right:hover, .card-button:hover {
    background-color: #F1CDB3;
}

.arrow-left-img, .arrow-right-img {
    width: 14px;
}

.our-frends-card {
    max-width: 270px;
    background-color: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 3px;
    color: #545454;
}

.card-button {
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    transition: .3s ease-in-out;
}

.card-button-link {
    text-decoration: none;
    display: block;
    padding: 15px 45px;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 3px;
}

.our-friends-slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 53px;
}

.our-friends-items {
    display: flex;
    gap: 90px;
}

.our-friends-button {
    border-radius: 100px;
    background-color: #F1CDB3;
    border: none;
    filter: brightness(90%);
    transition: .3s ease-in-out;
}

.our-friends-button:hover {
    filter: brightness(100%);
}

.button-link {
    padding: 15px 45px;
    text-decoration: none;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 3px;
    color: #292929;
}

/* help */

.help {
    height: 611px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 60px;
    margin: 80px 0 0 0;
}

.help-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 3px;
    text-align: center;
    width: 325px;
    color: #545454;
    margin: 0;
}

.desc-img {
    width: 60px;
    height: 60px;
}

.desc-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    /* text-align: center; */
    letter-spacing: 3px;
}