* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /* overflow: hidden; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* row-gap: 10%; */
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.gallery-img {
    filter: blur(0.2em);
    transition: .3s ease-in-out;
}

.gallery-img:hover {
    filter: blur(0);
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
    border-radius: 1em;
    box-shadow: 0px 0px 19px 16px rgba(154, 139, 116, 0.2);
}

.header {
    width: 100%;
    height: 20vh;
    background-color: antiquewhite;
    box-shadow: 0px 12px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
}

input {
    width: 90%;
    border-top: 0.3em solid #efc67a;
    border-left: 0.3em solid #efc67a;
    border-bottom: 0.3em solid #efc67a;
    border-right: none;
    border-radius: 1em 0 0 1em;
    padding: 2%;
}

/* input:focus {
    border-right: 3px solid white;
} */

button {
    width: 3em;
    padding: 0 1% 0 0;
    border-left: none;
    background-color: white;
    border-top: 0.3em solid #efc67a;
    border-right: 0.3em solid #efc67a;
    border-bottom: 0.3em solid #efc67a;
    border-radius: 0 1em 1em 0;
}

button:hover > img {
    transform: rotate(9deg);
}

button:hover {
    cursor: pointer;
}

button img {
    width: 3em;
    transition: .3s ease-in-out;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    width: 3em;
}

.rights {
    font-size: 0.7em;
    padding: 1em;
}

.rights a {
    text-decoration: none;
    color: orange;
}